<div class="container jumbotron">
	<div class="row">
		<div class="col-sm">
		</div>

		<div class="col-sm">
			<h1>Editing Product</h1>
			<%= render 'form', product: @product %>
		</div>
		<div class="col-sm">
		</div>
	</div>

	<div id="showItem">
		<%= link_to 'Back', products_path %>
	</div>
</div>
