<div class="container jumbotron">
	<div class="row">
		<div class="col-sm">
		</div>

		<div class="col-sm">
			<h1>New Product</h1>
			<%= render 'form', product: @product, class: "btn btn-success" %>
			<%= link_to 'Back', products_path %>
		</div>

		<div class="col-sm">
		</div>
	</div>
</div>